<div class="container">
<div class="row">
  <div class="col-lg-6">
    
<h3>Basic Accordian</h3>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Title One">
      <ng-template ngbPanelContent>
       <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.</p>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Title Two</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.</p>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Disabled Title" [disabled]="true">
      <ng-template ngbPanelContent>
       <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.</p>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

</div>
 <div class="col-lg-6">
   <h3>Multiple Accordian</h3>
  <div class="card">
    <div class="card-body">
       <!-- ngb Accordion starts -->
       <div class="accordion-shadow">
       <ngb-accordion [destroyOnHide]='false' [closeOthers]="true" (panelChange)='panelShadow(
          
       )' activeIds="panel2" #shadow>
          <ngb-panel id="panel1">
             <ng-template ngbPanelTitle>
                <span>Accordion Item 1 </span>
             </ng-template>
             <ng-template ngbPanelContent>
                Donut caramels sweet roll bonbo
             </ng-template>
          </ngb-panel>
          <ngb-panel id="panel2" cardClass="open">
             <ng-template ngbPanelTitle>
                <span>Accordion Item 2 </span>
             </ng-template>
             <ng-template ngbPanelContent>
 
                tootsie roll sweet gummi bears chocolate bar.
             </ng-template>
          </ngb-panel>
          <ngb-panel id="panel3">
             <ng-template ngbPanelTitle>
                <span>Accordion Item 3 </span>
             </ng-template>
             <ng-template ngbPanelContent>
 
                tootsie roll sweet gummi bears chocolate bar.
             </ng-template>
          </ngb-panel>
          <ngb-panel id="panel4" >
             <ng-template ngbPanelTitle>
                <span>Accordion Item 4 </span>
             </ng-template>
             <ng-template ngbPanelContent>
                gummi bears jujubes coqqtton candy cake marshmallow. Tart cake danish dessert
             </ng-template>
          </ngb-panel>
       </ngb-accordion>
       <!-- ngb Accordion ends -->
     </div>
   </div>
 </div>
</div> 
</div>
</div>