<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-6">
            <p>Mat datepicker POC</p>
            <div class="mat-app-background basic-container">
                <app-custom-date-picker [inputDate]="testdate">loading</app-custom-date-picker>
            </div>
        </div>
        <div class="col-sm-9 col-md-6">
            <p>Ngb datepicker POC</p>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                            #d="ngbDatepicker" (click)="d.toggle()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                            <button class="btn btn-outline-secondary clock" (click)="toggleDateTimeState($event)">
                                <i class="fa fa-clock"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
            <div *ngIf="showTimePickerToggle">
                <ngb-timepicker [(ngModel)]="timemodel"></ngb-timepicker>
            </div>

        </div>
    </div>