<div id="home-hero" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner " id="about-slider" role="listbox">
    <div class="item active">
      <!-- <img src="./assets/images/knowledge-center.jpg" alt="first slide" class="img-responsive"> -->
      <div class="carousel-caption">
        <h2>Sorry, You are not authorized to access this page</h2>
        <h2>Please contact administrator</h2>

        <a (click)="backurl()" class="btn btn-trans btn-white"
          >Back to HomePage</a
        >
      </div>
    </div>
  </div>
</div>
