<div class="container bodyContainer1">
  <div>
    <h4 class="text-info">Displaying Employee data</h4>
    <table class="table table-bordered bodyContainer1">
      <thead>
        <tr>
          <th>Id</th>
          <th>Full Name</th>
          <th>Phone No.</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Nationality</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let content of returnedArray; index as i">
          <td>{{ content.id }}</td>
          <td>{{ content.name }}</td>
          <td>{{ content.phoneNo }}</td>
          <td>{{ content.email }}</td>
          <td>{{ content.gender }}</td>
          <td>{{ content.nationality }}</td>
        </tr>
      </tbody>
    </table>
    <!--Basic Pagination-->
    <div class="col-md-12">
      <p style="color: red;">Basic Pagination</p>
    <div class="row">
      <pagination
        [totalItems]="contentArray.length"
        (pageChanged)="pageChanged($event)"
        [maxSize]="maxSize"
      ></pagination>
    </div>
    </div>

    <!--Pagination with boundary links-->
    <div class="col-md-12">
      <p style="color: red;">Pagination with boundary links</p>
    <div class="row">
      <pagination
        [boundaryLinks]="showBoundaryLinks"
        [totalItems]="contentArray.length"
        (pageChanged)="pageChanged($event)"
        [maxSize]="maxSize"
      ></pagination>
    </div>
    </div>
    
    <!--Pagination with toggle direction links-->
    <div class="col-md-12">
      <p style="color: red;">Pagination with toggle direction links</p>
      <div class="row">
          <pagination
            [directionLinks]="showDirectionLinks"
            [totalItems]="contentArray.length"
            (pageChanged)="pageChanged($event)"
            [maxSize]="maxSize"
          ></pagination>
          <button type="button" (click)="showDirectionLinks = !showDirectionLinks">
            Hide/show direction links
          </button>
      </div>
      </div>
    
    <!--Pagination with toggle state-->
    <div class="col-md-12">
      <p style="color: red;">Pagination with toggle state</p>
      <div class="row">
          <pagination
            [disabled]="disabled"
            [totalItems]="contentArray.length"
            (pageChanged)="pageChanged($event)"
          ></pagination>
          <button type="button" (click)="toggleState()">
            Toggle state
          </button>
          </div>
      </div>
      
    <!--Pagination with toggle rotate-->
    <div class="col-md-12">
      <p style="color: red;">Pagination with toggle rotate</p>
        <div class="row">
            <pagination
            [totalItems]="contentArray.length"
            (pageChanged)="pageChanged($event)"
              [rotate]="rotate"
              [maxSize]="maxSize"
            ></pagination>
            <button
            type="button"
            [style.background-color]="rotate ? 'blue' : 'red'"
            (click)="toggleBtn()"
          >
            Link center is {{ status }}
          </button>      
      </div>
      </div>
  </div>
</div>

