<div class="row" style="margin-bottom: 12px;">
  <div
    class="col-md-12"
    style="text-align: center; 
    font-family: Segoe UI Regular, Arial;
    font-size: 10pt;
    color: #fff;
    margin-top: 10px;"
  >
    This page will refresh in
    <span class="time" style="font-family: Segoe UI Semibold, Arial;"
      >{{ refreshTimerMinutes }} Min : {{ refreshTimerSeconds }} Sec</span
    >
  </div>
</div>
<div class="row" style="margin-bottom: 12px;">
  <div
    class="col-md-12"
    style="text-align: center; 
    font-family: Segoe UI Regular, Arial;
    font-size: 10pt;
    color: #fff;
    margin-top: 10px;"
  >
    This page will Logged out in
    <span class="time" style="font-family: Segoe UI Semibold, Arial;"
      >{{ idleTimerMinutes }} Min : {{ idleTimerSeconds }} Sec</span
    >
  </div>
</div>
