<div class="container">
  <div class="row dashboard">
    dashboard

    <!-- <div *ngFor="let menu of navigationPages" class="item">
      <a routerLink="/{{ menu.Url }}">
        <div class="content">
          <div [innerHTML]="menu.Svg | safeHtml" class="svg"></div>
          {{ menu.DisplayName }}
        </div>
      </a>
    </div> -->

  </div>
</div>

<ul>
  <li><a routerLink="/angform">Form Component And Service</a></li>
  <li><a routerLink="/iframe">Open Any Page In Iframe Component And Service</a></li>
  <li><a routerLink="/accordian">Accordion Component And Service</a></li>
  <li><a routerLink="/ckeditor">Custom Editor Component And Service</a></li>
  <li><a routerLink="/graph">Graph Component And Service</a></li>
  <li><a routerLink="/pagination">Pagination</a></li>
  <li><a routerLink="/auto-complete">Auto Complete</a></li>
  <li><a routerLink="/file-uploader">File Uploader</a></li>
  <li><a routerLink="/google-map">Google Map</a></li>
  <li><a routerLink="/progressbar">Progress Bar</a></li>
  <li><a routerLink="/menuBar">Menu Bar</a></li>
  <li><a routerLink="/dropdown">Multi Selection</a></li>
  <li><a routerLink="/gridView">Grid</a></li>
  <li><a routerLink="/date-timepicker">Date Time picker</a></li>
  <li><a routerLink="/notification">Notification</a></li>
  <li><a routerLink="/dialog">Confirmation Dialog</a></li>
</ul>
<hr>