.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  color: #99cc67 !important;
}
.mat-calendar-body-selected {
  background-color: #99cc67;
  color: #fff;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: #000 !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #000 !important;
}
.mat-input-element {
  caret-color: #000;
}
